body {
  background-color: #b09e99;
  text-align: center;
}

.conainer {
  width: 45%;
  background-color: #d8cfcc;
  padding: 60px 50px;
  margin: auto;
}

.row {
}

#generate-btn {
  outline: none;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  background-color: #64b6ac;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(51, 92, 87, 0.57);
  box-shadow: 3px 3px 2px 1px rgba(51, 92, 87, 0.57);
}
#generate-btn:hover {
  color: #000;
  background-color: #b09e99;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(176, 158, 153, 0.57);
  box-shadow: 3px 3px 2px 1px rgba(176, 158, 153, 0.57);
}

.text-muted {
  text-align: left;
}

.quote-icon {
  font-size: 28px;
  color: #6c757d;
  padding: 10px;
}

#quote {
  color: #6c757d;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.text-right {
  color: #64b6ac;
  margin: 0;
  font-size: 1.25rem;
  float: right;
}

.quote-author {
  padding-left: 10px;
}
